.hero2{
    margin: auto;
    width: auto;
    max-width: 1568px;
    height:auto;
    padding: 0 177px;
    /* background-color: #09012a; */
    }
   
   .hero2-first{
     background-image: url("../assets/hero2.png");
     background-size: cover;
     margin: auto;
     height: 556px;
     width:1086;
     
     }
   .hero2-first>div{
    
     width: 100%;
     height: 100%;
    
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .hero2-first>div>h2{
    font-family: Outfit;
    font-size: 48px;
    font-weight: 500;
    line-height: 64px;
    text-align: center;
    color: #fff;
    width: 787px;
    height: 128px;
   }
   .hero2-first>div>h2>span{
     background:linear-gradient(90deg, #FACC69 0%, #FF91A5 100%);
     background-clip: text;
     color: transparent;
   }

   
    @media (max-width: 800px) {
      .lg\:py-20 {
        padding: 10px;
        height: 500px;
      }
    }