.text-active {
  background: linear-gradient(90deg, #5cc3fa 0%, #9e6ee6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-inactive {
  color: #64748b; 
}

@keyframes move-right-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
  
}

.move-right-left {
  animation: move-right-left 2s ease-in-out infinite;
}
